<img src="assets/stjobs-04.jpg" class="inner_picture bosluk2">
<div class="upper_part">
  <featured-image [img]="'assets/stonee2.png'"></featured-image>
  <section class="services">
    <div class="container">
      <div class="row justify-content-center">
        <div class="input_container  a2 col-sm-12  col-md-12 col-12 " style="margin-bottom:20px;">
          <div type="text" class="awesome_input">
            <div class="box">
              <div class="row justify-content-center ">
                <div class="fas fa-thumbs-up fa-5x logo"></div>
              </div>
              <div class="row justify-content-center">
                <h3>Dijital Dönüşüm</h3>
              </div>
            </div>
          </div><span class="awesome_input_border"></span>
        </div>
        <div class="input_container col-sm-12  col-md-12 col-12 a2 " style="margin-bottom:20px;  ">
          <div type="text" class="awesome_input">
            <div class="box">
              <div class="row justify-content-center">
                <div class="fas fa-newspaper fa-5x logo"></div>
              </div>
              <div class="row justify-content-center">
                <h3>Dijital İtibar Yönetimi </h3>
              </div>

            </div>
          </div><span class="awesome_input_border"></span>
        </div>
        <div class="input_container col-sm-12  col-md-12 col-12 a2 " style="margin-bottom:20px;  ">
          <div type="text" class="awesome_input">
            <div class="box">
              <div class="row justify-content-center">
                <div class="fas fa-bank fa-5x logo"></div>
              </div>
              <div class="row justify-content-center">
                <h3>Markalaşma</h3>
              </div>
            </div>
          </div><span class="awesome_input_border"></span>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="bottom_part">
  <img src="assets/stjobs-04.jpg" class="alternative_inner_picture img-fluid">
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-12 inner_hood">
          <h3 class="inner_hood">Son Yazılar</h3>
      
        </div>
      </div>
    </div>
  </section>

  <div class="container posts ">
    <div class="row  justify-content-center">
    </div>
  </div>
</div>
