    <div class="container yazi2 res" >
      <div class="row-10 ">
          <div class="postbox " *ngFor="let blg of blog | async">
          
                <img style="border-radius:10px; width:35%; float:left; position:relative; "  class="img-fluid" [src]="blg.thumbnail" >
              
              <article class="medium " >
           
                
                <div class="meta" style="left:20px; position: relative;">
                
          
                  
                  <div [innerHTML]="blg.article"></div>
            
                </div> 
                
               
              </article>
              
          </div>
       
      </div>
  
    </div>
  
  