<div class="row">
    <div class="col-12">
        <div class="form-group">
            <form>
                <label for="searchLabel">Makalelerde ara</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" (click)="search()">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" name="searchWord" class="form-control" id="searchLabel" [(ngModel)]="searchWord"
                        placeholder="Aramak istediğiniz kelimeyi">
                </div>
            </form>
        </div>
    </div>
</div>