
.services{
  position: relative;
  padding: 80px;
}
.titletop{
  margin-bottom:20px;  color:lightgrey; position: fixed; bottom:0px; font-size:30px; background-color:grey; border-radius:10px; padding:1px;
z-index:99999999;

}
.box{
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
 
  width: 100%;
  height: 250px;
  max-width: 333.333333px;
  display: inline-block;
  box-shadow: 5px 5px 10px #222222;
}
.logo{
  color:#48A7BA;
}
.box:hover{
 

.logo{
  color:black;
}
}
.icbaşlık{
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  line-height: 40px;
  width: auto;
  letter-spacing: 1px;
  text-align:center;
  font-weight: 900;

}
.icbaşlık h3 {
  font-weight: 900;
  font-size: 36px;
  text-align:center;
}

.postbox{
margin-bottom: 40px;
padding: 0px;
margin-right: 15px;
}

.blogthumb{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  min-height: 45px;
}
.baslik{
  font-size: 35px;
}
.baslik2{
  font-size:15px;
}

.date{
  margin-bottom: 15px;
  font-weight: 500;
  float: left;
}

.Author{
  margin-bottom: 15px;
  font-weight: 500;
  float: left;
  margin-left: 15px;
}

.clear{
  clear: both;
}
a{
  color: black;
  text-decoration: underline;
}

body, html {
  height: 100%;
}
.leftt{
  float:left;
 
}
@media screen and (max-width: 700px) {
  .leftt{
    float: none;
    
  }
}
.bg {
    width:100%;

    position:fixed;
    z-index:-100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.beyaz{
  background-color:white;
}

.beyaz2{
  background-color:white;
  margin-top:320px;
}
.bg2{
    visibility: hidden;
    width: 0%;
}
.yazii{


position:relative;

}
.titletop{
  color:lightgrey; position: fixed; bottom:0px; font-size:30px; background-color:grey; border-radius:10px; padding:1px;
}
.yazi2{
  right:0%; position: relative;
  
}
.input_container{
display: inline-block;
text-align: center;
margin-left: 7px;
margin-right: 7px;
width: 33.33%;
height: 250px;
max-width: 333.3px;
}
.awsome_input{

border: none;
background: transparent;
display: block;
}
.awsome_input_border{
display:inline-block;
width:0px;
height: 4px;
background: #48A7BA;
position: relative;
top:-1px;
-webkit-transition: all ease-in-out .30s;
-o-transition: all ease-in-out .30s;
transition: all ease-in-out .30s;
}
.awsome_input:hover,
.awsome_input:active, 
.awsome_input:focus{
outline: none;
}
.awsome_input:hover+.awsome_input_border,
.awsome_input:active+.awsome_input_border, 
.awsome_input:focus+.awsome_input_border{
width:100%;

}

#grad1 {
  height: 600px;
  opacity: 0.5;
  width:100%;
  background-image: linear-gradient(darkblue,darkgrey,darkblue);
  position:absolute;
  z-index:2;
}

@media screen and (max-width: 300px) {
  .box{
      padding-top: 50px;
      padding-right: 200px;
      margin-right:10px;
      padding-left: 90%;
      margin-left: 15px;
  }
  .box h3{
      font-size:20px;
  }
  .jumbotron{
    top:80px;
  }
}
@media screen and (max-width: 400px) {
  .box{
      height:20%;
      padding-top: 50px;
      padding-right: 60%;
      margin-right:10px;
      padding-left: 60%;
      margin-left: 15px;
  }
    .container{ font-size:10px; }
  .yazi2{
      position: relative;
      font-size:10px;
     visibility: inherit;
     
  

  
    }
    .res{
      
      position:relative;
     margin-top:20%;
    }

  }
  @media screen and (max-width: 333px) {
  .res{
    position:relative;
   margin-top:30%;
  }

}
@media screen and (max-width: 989px) {
  .yazi2{
      right:10%; position: relative;
    }
  .yazii{
      padding-right: 0px; 
      position: relative;
  
    }
  }
@media screen and (max-width: 798px) {
    
    .bg2{
        visibility: visible;
        width: 100%;
    }
  .bg {
      width:0%;
      visibility: hidden;
  }
    .beyaz{
      background-color:white;
    }
  
    .beyaz2{
      background-color:white;
      margin-top:0px;
    }
  }

  figure.filtre:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .900;
  }
  figure.filtre{
    position: relative;
    display: inline-table;
    margin: 0;
  }
  figure.filtre img {
    vertical-align: middle;
    -webkit-filter: grayscale(100%) contrast(0.9);
    -moz-filter: grayscale(100%) contrast(0.9);
    filter: grayscale(100%) contrast(0.9);
  }
  .retro:after {
    background-image: linear-gradient(#0c2653,#465063, rgb(111, 109, 124),#465063,#0c2653,);
  }
  .resbas{position: absolute; top: 220px;  left: 50px; text-decoration: none; font-size: 50px; color: white;}
  .resbas2{position: absolute; top: 300px; left: 50px; color: black;border-style: solid; border-color: lightgrey; border-radius: 25px; background-color: white;}
 
  @media screen and (max-width: 922px) {
    .resbas{position: absolute; top: 120px;  left:  0px; text-decoration: none; font-size: 30px; color: white;}
    .resbas2{position: absolute; top: 170px; left: 0px; color: black;border-style: solid; border-color: lightgrey; border-radius: 25px; background-color: white;}
    .resyaz{font-size:10px;}
  }
  @media screen and (max-width: 642px) {
    .resbas{position: absolute; top: 60px;  left:  0px; text-decoration: none; font-size: 30px; color: white;}
    .resbas2{position: absolute; top: 100px; left: 0px; color: black;border-style: solid; border-color: lightgrey; border-radius: 25px; background-color: white;}
 
  }
  @media screen and (max-width: 450px) {
    .resbas{position: absolute; top: 65px;  left:  0px; text-decoration: none; font-size: 15px; color: white;}
    .resbas2{position: absolute; top: 100px; left: 0px; color: black;border-style: solid; border-color: lightgrey; border-radius: 25px; background-color: white;}
   
  }
  @media screen and (max-width: 368px) {
    .resbas{position: absolute; top: 65px;  left:  0px; text-decoration: none; font-size: 15px; color: white;}
    .resbas2{visibility:hidden; position: absolute; top: 100px; left: 0px; color: black;border-style: solid; border-color: lightgrey; border-radius: 25px; background-color: white;}
   .resyaz{visibility: hidden;}
  }