<div class="jumbotron jumbotron-fluid" style="background-color:white; z-index:-1; padding: 0; height: auto;">

  <figure class="filtre retro">
    <img src="assets/stonee.jpg"  style="margin-bottom: 0px;" class="img-fluid">
  </figure>

  <div>
  <b><a class="baslik resbas">{{ title }}</a></b>
  <div class="resbas2 p-2">
    <div class="resyaz">
  <img src="assets/clock.png" height="15px" width="15px" > {{ date | date:"dd-MM-yyyy"}}
  <img src="assets/newspaper.png" height="15px" width="15px"> {{author}}</div>
  </div>
</div>
</div>


  <div class="col-md-7 col-lg-7 col-sm-9 offset-sm-1 leftt" >
  <app-third></app-third></div>
  <div class="col-4 leftt"  >
<app-fourth></app-fourth></div>
  <div class="clear"></div>
