<div class="container yazi2 res" >
    <div class="row-10 ">
        <div class="postbox ">
        
              <img style="border-radius:10px; width:35%; float:left; position:relative; "  class="img-fluid" [src]="img" >
            
            <article class="medium " >
         
              
              <div class="meta" style="left:20px; position: relative;">
              
        
                
                <div [innerHTML]="article"></div>
          
              </div> 
              
             
            </article>
            
        </div>
     
    </div>

  </div>

